<form action="#" method="post"
   th:action="@{/update/{id}(id=${user.id})}"
   th:object="${user}"
>
   <label for="name">name</label>
   <input type="text" th:field="*{namae}" id="name" placeholder="Name" />
   <span th:if="${#fields.hasErrors('name)}'" th:errors="*{name}"></span>
   <label for="email">Email</label>
   <input type="text" th:field="*{email}" id="email" placeholder="Email" />
   <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
   <input type="submit" value="Update User">
</form>