<div th:switch="${users}">
   <h2 th:case="null">No users yet!</h2>
   
   <div th:case="*">
      <h2>Users</h2>
      <table>
         
         <thead>
            <tr>
               <ht>Name</ht>
               <ht>Email</ht>
               <ht>Edit</ht>
               <ht>Delete</ht>
            </tr>
         </thead>

         <tbody>
            <tr th:each="user : ${users}">
               <th th:text="${user.name}"></th>
               <th th:text="${user.email}"></th>
               <th><a th:href="@{/edit/{id}(id=${user.id})}">Edit</a></th>
               <th><a th:href="@{/delete/{id}(id=${user.id})}">Delete</a></th>
            </tr>
         </tbody>
         
      </table>
   </div>

   <p><a href="/signup">Add a new user</a></p>
</div>