<!--/* Meta Data */-->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

<!--/* 기본적인 html head 추가부 */-->
<th:block layout:fragment="html_head"></th:block>

<!--/* Css lib */-->
<!--/* Font Awesome */-->
<link rel="stylesheet" th:href="@{/css/fontawesomeAll.min.css}" />
<!--/* Bootstrap core CSS */-->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<!--/* Material Design Bootstrap */-->
<link rel="stylesheet" th:href="@{/css/mdb.min.css}" />
<!--/* Your custom styles (optional) */-->
<link rel="stylesheet" th:href="@{/css/style.css}" />

<!--/* Etc Add on Lib */-->
<th:block layout:fragment="add_lib_css"></th:block>

<!--/* Css custom */-->

