<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="mainHead">
   <th:block th:include="/fragments/common/c_head"></th:block>

   <link rel="stylesheet" th:href="@{/css/style.css}" />

   <!--/* Custom or page css */-->
   <th:block layout:fragment="sustom_css"></th:block>

</head>
</html>